@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  color: white;
  background-image: url(jsx/content/bg-main-desktop.png);
  background-size: 26% 100vh;
  background-position: left top;
  background-repeat: no-repeat;
  font-family: "Space Grotesk", serif;
}
* {
  margin: 0px;
  padding: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bodyy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 34vh;
}
.dates {
  display: flex;
}
.box-body {
  padding-left: 31vw;
}
p {
  color: black;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input {
  background-color: #ffffff00;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px 20px;
  width: 89%;
  margin-top: 7px;
  margin: 7px 0px;
  font-family: "Space Grotesk", serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex input {
  width: 50px;
  margin: 10px 10px 10px 0px;
}
.cvc {
  width: 100px;
  margin-top: 10px;
}
.cvc-box {
  padding-left: 10px;
}
button {
  width: 100%;
  margin-top: 14px;
  padding: 13px;
  border-radius: 6px;
  background-color: #5e2f9f;
  border: none;
  color: white;
}
.card-1 {
  width: 400px;
  background-color: beige;
  position: relative;
  left: 39px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 170px;
  display: flex;
  top: -133px;
  align-items: end;
  background-image: url(jsx/content/bg-card-front.png);
}

.card-2 {
  width: 400px;
  background-color: beige;
  position: relative;
  left: 247px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 170px;
  display: flex;
  top: -133px;
  align-items: end;
  background-image: url(jsx/content/bg-card-back.png);
  margin-top: 50px;
}

.box-body {
  position: relative;
  padding-left: 31vw;
  right: 200px;
  bottom: 139px;
}
.card-2 p {
  position: relative;
  left: 355px;
  bottom: 76px;
  color: white;
}
.infos {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.infos p {
  font-size: 20px;
  color: white;
}
.flx {
  display: flex;
  gap: 15px;
  color: white;
}
.number {
  font-size: 35px;
  color: white;
}
.dvi {
  position: relative;
  bottom: -20px;
}
